body{
    background-color: aliceblue;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

site{
    align-items: center;
    display: flex;
}

button{
    margin-right: 10px;
    margin-left: 10px;
}

ul{
    list-style: none;
}

li{
    margin-bottom: 10px;
}